<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- INSERITO IL LINK PER I FONT-AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- INSERITO IL FONT LATO -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap" rel="stylesheet">
        <title>BoolZapp</title>
        <link rel="stylesheet" href="css/syile.css">
        <!-- INSERITO LO SCRIPT SRC PER VUE JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app" class="container">
                <div class="box-header-left">
                    <div class="avatar-left">
                        <img class="avar-image" src="img/avatar_1.jpg" alt="">
                            <div class="avatar-name">
                                Michele
                            </div>
                            <i class="fa-solid fa-spinner "></i>
                            <i class="fa-solid fa-message "></i>
                            <i class="fa-solid fa-ellipsis-vertical "></i>
                    </div>
                   <div class="message-notification">
                        <div class="notification">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <span class="receive-message">
                            Ricevi notifiche di nuovi messaggi
                            <small>Attiva notifiche desktop</small>
                        </span>
                    </div>
                    
                    <div class="contact">
                        <form @submit.prevent="active" class="form-search" action="">
                             <button class="brt-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                             <input v-model="messageActive" :class="active" class="search-left" type="search" placeholder="Cerca ho inizia una nuova chat" name="" id="" required>
                        </form>
                        <div class="all-contacts">
                            <ul v-for="(contact, index) in contacts" class="list-contacts">
                                <li>
                                    <div class="general-contact">
                                        <img :src="`img/avatar${contact.avatar}.jpg`" :alt="`name${contact.name}`">
                                        <div class="avatar-general">
                                            <span>{{contact.name}}</span>
                                            <p class="avatar-contact">{{contact.messages[contact.messages.length-1].message}}</p>
                                        </div>
                                    </div>
                                </li>
                                <li><small class="date-contact">12:00</small></li>
                            </ul>
                        </div>                                     
                    </div>
                </div>
                <div class="box-header-right">
                    <div  class="avatar-right">
                        <div class="general-contact">
                            <img src="img/avatar_1.jpg" alt="">
                            <div class="avatar-general">
                                <span>Michele</span>
                                <p class="avatar-contact">Ultimo accesso alle ore 12:00</p>
                            </div>
                        </div>
                        <div class="">
                            <i class="fa-solid fa-magnifying-glass icon-right"></i>
                            <i class="fa-solid fa-paperclip icon-right"></i>
                            <i class="fa-solid fa-ellipsis-vertical icon-right"></i>
                        </div>
                    </div>
                    <div  class="messagge-body">
                        <div v-for="(contact, index) in contacts" class="sent">
                            <div class="sent_message">{{contact.messages[contact.messages].message}}</div>
                        </div>
                        <div class="receive">
                            <div class="receive-message">Tutto fatto!</div>
                        </div>
                    </div>
                    <form class="form-message" action="">
                        <button class="brt-write"><i class="fa-regular fa-face-smile"></i></button>
                       <input class="write-message" type="text" placeholder="scrivi un nuovo messaggio" name="" id="">
                        <button class="brt-write"><i class="fa-solid fa-microphone"></i></button>
                    </form>
                </div>                      
        </div>
        <script src="js/main.js"></script>
    </body>
</html>